<h1>My Wallet Application</h1>

<%= form_for User.new do |f| %>
  <%= f.text_field :first_name, placeholder: 'First Name' %><br>
  <%= f.text_field :last_name, placeholder: 'Last Name' %><br>
  <%= f.text_field :email, placeholder: 'email' %><br>
  <%= f.text_field :phone, placeholder: 'Phone' %><br>
  <%= f.password_field :password, placeholder: 'Password' %><br>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm password' %><br>
  <%= f.submit 'Sign Up' %>
<% end %>
