<h1>SHOW PAGE FOR USER</h1>	
<h2>WELCOME USER</h2>

<%= @user.id%> <br/>
<%= @user.first_name %><br/>
<%= @user.last_name %><br/>
<%= @user.email %><br/>

<table>




	<% @user.cards.each  do |x| %>

	<tr>

		<td>
			<%= x.number %>
		</td>
		<td>
			<%= x.month %>
		</td>
		<td>
			<%= x.year %>
		</td>

	</tr>
	<% end %>
</table>


<br/>

<%= form_tag add_card_path, method: :post do %>
<%= collection_select(:user_card, :card_id, Card.all, :id, :number, {:prompt => true}) %>
<%= hidden_field_tag :user_id, @user.id %>
<%= submit_tag "Save" %>
<% end %>
