<h1>Cards#new</h1>

<%= form_for @card do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %></br>
  <%= f.label :expiration, "Expiration" %>
  <%= f.text_field :expiration %></br>
  <%= f.label :month %>
  <%= f.text_field :month %>
  <%= f.label :year %>
  <%= f.text_field :year %></br>
  <%= f.submit 'Create Card', data: {disable_with: "Submitting..."} %>
<% end %>


