<h1>New Credit Card</h1>

<%= form_for @card do |f| %>
  <%= f.label :number %>
  <%= f.text_field :number %></br>
  <%= f.label :expiration %>
  <%= f.label :month %>
  <%= f.text_field :month %><br>
  <%= f.label :year %>
  <%= f.text_field :year %></br>
  <%= f.submit 'Create Card', data: {disable_with: "Submitting..."} %><br>
<% end %>


