<!DOCTYPE html>
<html>
<head>
  <title>Walletapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<div class="navbar">
	 <ul>
		<li>
			<div>
				<button class="buttons"><%= link_to "Home", users_path %></button>
			</div>
		</li>
		<li>
			<div>
				<button class="buttons"><%= link_to "New User", new_user_path %></button>
			</div>
		</li>
		<li>
			<div>
				<button class="buttons"><%= link_to "New Card", new_card_path %></button>
			</div>
		</li>
		<li>
			<div>
				<button class="buttons"><%= link_to "CreditCards", cards_path %></button>
			</div>
		</li>
	 </ul>	
	</div>
</nav>

<!-- ADD FLASH ALERTS HERE -->
	 <% flash.each do |name,msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>
<%= yield %>

</body>
</html>
